<%- include("partials/header") -%>


    <h1 class="new">Hello!</h1>

    <div>
        <img class="img" src="<%=image%>" alt="">
    </div>

    <h2><%= title %></h2>

    <p><%=content%></p>




<%- include("partials/footer") -%>
